__pycache__
*.ckpt
*.pth
*.out
/data/*
!/data/UltraFusion-Extreme-Cases/
!/data/UltraFusion-Extreme-Cases/**
/exps
# *.sh
!install_env.sh
/weights
/temp
/results*
.ipynb_checkpoints/
/TODO.txt
/deprecated
/temp_scripts
/.vscode
/runs
/experiment/
/ckpts
/reports/
